h2 {
	font-size: 1.2em;
}

th.sidebar_table {
	padding-top: 20px;
	font-size: 1.0em;
}

td.sidebar_table {
	font-size: 0.75em;
	padding-bottom: 10px;
	padding-left: 10px;
}

/*Set the row height to the viewport*/
.row-height {
	height: 100vh;
}

/*Set up the columns with a 100% height and overflow scroll*/
.left {
	height: 100%;
	overflow-y: scroll;
	padding-left: 10px;
}

.right {
	height: 100%;
	overflow-y: scroll;
}

/*Set the arrows for the collapse list*/
.list-heading.collapsed .fa-chevron-down, .list-heading .fa-chevron-right
	{
	display: none;
}

.list-heading.collapsed .fa-chevron-right, .list-heading .fa-chevron-down
	{
	display: inline-block;
}

/*Set up typeahead formatting*/
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	left: auto !important;
	right: 0px;
}

.tt-suggestion {
	padding: 3px 20px;
}

/*Remove the scrollbar from Chrome, Safari, Edge and IE*/
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

* {
	-ms-overflow-style: none !important;
}