{% extends "mip_dr_app_api/base.html" %}

{% block title %}Notes about th MIP Data Request Service{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNotes"
            aria-controls="navbarNotes" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
            id="navbarNotes">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="home page" href="/">Home</a>
                </li>
                <li class="navbar-text"><i class="bi bi-arrow-right" aria-hidden="true"></i></li>
                <li class="nav-item">
                    <p class="nav-link active">Notes</p>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
{% load static %}
<div class="row row-height">
    <div class="col-2"></div>
    <div class="col-10">
        <h1>Notes about the MIP Data Request Service</h1>
        <h2>Web Pages</h2>
        <p>The MIP Data Request web pages allows you to view and navigate through the vocabularies.</p>
        <p>The <a href="{% static 'mip_dr_app_api/erd.png' %}">Entity Relationship Diagram</a> provides
        an overview showing links between the vocabularies.
        </p>
        <p>From the home page you can download all of the vocabularies as a single json file or as a Excel
        workbook, with one vocabulary per spreadsheet in the workbook.</p>
        <p>From the top level page of each vocabulary you can download the vocabulary as a csv, json or xlsx file.</p>

        <h2>Content Negotiation</h2>
        <p>All of the vocabularies are available via an API. The required format can be specified in the
        URL or via content negotiation. For example:</p>
        <ul>
            <li>To get a vocabulary as a csv file:
            <pre>    <code>curl http://127.0.0.1:8000/mip/?format=csv</code>
or
    <code>curl http://127.0.0.1:8000/mip/ -H "Accept: text/csv"</code></pre></li>
            <li>To get a vocabulary as a json file:
            <pre>    <code>curl http://127.0.0.1:8000/mip/?format=json</code>
or
    <code>curl http://127.0.0.1:8000/mip/ -H "Accept: application/json"</code></pre></li>
            <li>To get a vocabulary as an Excel spreadsheet:
            <pre>    <code>curl http://127.0.0.1:8000/mip/?format=xlsx</code>
or
    <code>curl http://127.0.0.1:8000/mip/ -H "Accept: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"</code></pre></li>
        </ul>
    </div>
</div>
{% endblock %}
