{% extends "mip_dr_app_api/sidebar.html" %}

{% block title %}{{ table_id }}{% endblock %}

{% block search %}
<form class="d-flex" role="search" action="{% url 'search:search' %}" method="GET">
    <div class="input-group me-auto mb-2 mb-lg-0">
        <input class="form-control" type="text" placeholder="Search requestVar" aria-label="Search" name="q">
        <input type="hidden" id="vocab" name="vocab" value="requestVar">
        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
    </div>
</form>
{% endblock %}

{% block nav %}
{% load mip_dr_app_api_tags %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
            id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="home page" href="/">Home</a>
                </li>
                <li class="navbar-text"><i class="bi bi-arrow-right" aria-hidden="true"></i></li>
                <li class="nav-item">
                    <p class="nav-link active">{{ table_name }}</p>
                </li>
            </ul>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="dropdown">
                    <a class="btn btn-outline-secondary dropdown-toggle"
                        href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Filter on request variable group</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="?requestVarGroup=">---------------</a>
                        {% for group in requestVarGroup %}
                        <a class="dropdown-item"
                            href="?requestVarGroup={{ group.uid }}">{{ group }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="dropdown clearfix">
                <a class="btn btn-primary dropdown-toggle float-end m-1" href="#" role="button" id="download_data" data-bs-toggle="dropdown" aria-expanded="false">
        Download requestVar</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="download_data">
                    <li role="presentation"><a class="dropdown-item" role="menuitem" href={% url 'requestVar-list' %}?format=csv{{ search }}>CSV</a></li>
                    <li role="presentation"><a class="dropdown-item" role="menuitem" href={% url 'requestVar-list' %}?format=csv{{ search }}&pretty=true>CSV - pretty</a></li>
                    <li role="presentation"><a class="dropdown-item" role="menuitem" href={% url 'requestVar-list' %}?format=json{{ search }}>JSON</a></li>
                    <li role="presentation"><a class="dropdown-item" role="menuitem" href={% url 'requestVar-list' %}?format=xlsx{{ search }}>XLSX</a></li>
                    <li role="presentation"><a class="dropdown-item" role="menuitem" href={% url 'requestVar-list' %}?format=xlsx{{ search }}&pretty=true>XLSX - pretty</a></li>                </ul>
            </div>

        </div>
    </div>
</nav>
{% endblock %}

{% block right_block %}
    <h1>Data Request Section: {{ table_name }} (requestVar)</h1>

{% if filter %}
    <h2 class="fw-bold">Filtered on {{ filter }}</h2>
{% endif %}
    <h2>{{ table_description }}</h2>
    <ul>
{% for object in object_list %}
        <li><a href={% url 'requestVar-detail' object.pk %}>{{ object.label }}</a>: {{ object.title }}{% if object.units %} [{{ object.units }}]{% endif %}</li>
{% empty %}
        <li>No articles yet.</li>
{% endfor %}
    </ul>
{% endblock %}