{% extends "mip_dr_app/base.html" %}

{% block title %}Index{% endblock %}

{% block nav %}
{% load mip_dr_app_vocab_tags %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
            id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <p class="nav-link active">Data Request</p>
                </li>
            </ul>

            <div class="dropdown clearfix">
                <a class="btn btn-primary dropdown-toggle float-end m-1" href="#" role="button" id="download_data" data-bs-toggle="dropdown" aria-expanded="false">
                    Download Data Request</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="download_data">
                    <li role="presentation"><a class="dropdown-item" role="menuitem" href={% url 'vocab:index' %}?format=json>JSON</a></li>
                    <li role="presentation"><a class="dropdown-item" role="menuitem" href={% url 'vocab:index' %}?format=xlsx>XLSX</a></li>
                    <li role="presentation"><a class="dropdown-item" role="menuitem" href={% url 'vocab:index' %}?format=xlsx&pretty=true>XLSX - pretty</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="row row-height">
    <div class="col-2"></div>
    <div class="col-10">
        <h1>Data Request</h1>
        <h2>Sections of the data request</h2>
        <ul>
            <li><a href={% url 'vocab:mip-list' %}>1.1 Model Intercomparison Project [mip]</a> Model Intercomparison Project</li>
            <li><a href={% url 'vocab:var-list' %}>1.2 MIP Variable [var]</a> Each MIP variable record defines a MIP variable name, associated with a CF Standard Name.</li>
            <li><a href={% url 'vocab:CMORvar-list' %}>1.3 CMOR Variable [CMORvar]</a> Each Output variable record corresponds to a MIP table variable specification. In a change from the August draft, this record does not contain the 'priority' attribute: the priority is now set in the 'Request Variable' record. The other change is that a collection of attributes specifying dimensions etc have been moved into the 'structure' record, and each CMOR Variable record links to one structure record. This will fa-cilitate provision of clear and consistent definitions of output formats.</li>
            <li><a href={% url 'vocab:requestVar-list' %}>1.4 Request variable (carrying priority and link to group) [requestVar]</a> The request variable is now a short record which combines a CMOR variable with a priority and assigns it to a request group.</li>
            <li><a href={% url 'vocab:experiment-list' %}>1.5 Experiments [experiment]</a> The experiment record contains the key information from the 'Experiment' sheet of the request template, including the tier of the experiment, the duration and start and end dates.</li>
            <li><a href={% url 'vocab:objective-list' %}>1.6 Scientific objectives [objective]</a> The objectives defined by each MIP can be used to select data requirements.</li>
            <li><a href={% url 'vocab:grids-list' %}>1.7 Specification of dimensions [grids]</a> Dimensions used by variables in the data request</li>
            <li><a href={% url 'vocab:standardname-list' %}>1.8 CF Standard Names [standardname]</a> CF Standard Names (copied into data request to facilitate validation, particularly validation of consistency of definition in the CF standard with usage in the data request).</li>
            <li><a href={% url 'vocab:exptgroup-list' %}>1.9 Experiment Group [exptgroup]</a> The experiment group defines a collection of experiments within a MIP which might be part of a collective data request.</li>
            <li><a href={% url 'vocab:spatialShape-list' %}>2.1 Spatial dimensions [spatialShape]</a> The spatial shape record contains the spatial dimensions of the field, and also, for convenience, an integer specifying the number of levels if that number is specified. A boolean level flag is set to 'true' if the number of vertical levels is specified.</li>
            <li><a href={% url 'vocab:temporalShape-list' %}>2.2 Temporal dimension [temporalShape]</a> The temporal shape record contains the temporal dimensions.</li>
            <li><a href={% url 'vocab:structure-list' %}>2.3 Dimensions and related information [structure]</a> The structure record combines specification of dimensions, cell_measures and cell_methods attributes. Spatial and temporal dimensions are specified through links to 'spatialshape' and 'temporalshape' records.</li>
            <li><a href={% url 'vocab:miptable-list' %}>2.4 MIP tables [miptable]</a> The MIP tables are used to organise the variables. Each variable in a MIP table must have a unique output name (defined by the label of the {var} record associated with each {CMORvar} record). The structure of the MIP tables has evolved as the request has expanded from CMIP3 through CMIP5 to CMIP6. The naming convention for the CMIP6 tables is described on the WIP [https://earthsystemcog.org/projects/wip/mip_table_about MIP Tables in the CMIP6 Data Request] page.</li>
            <li><a href={% url 'vocab:requestVarGroup-list' %}>3.1 Request variable group: a collection of request variables [requestVarGroup]</a> A group of request variables, or a table, which can be referred to from a request link.</li>
            <li><a href={% url 'vocab:requestItem-list' %}>3.2 Request Item: specifying the number of years for an experiment [requestItem]</a> The request item links a collection of variables with a specific experiment or group of experiments, and a temporal range for output. The 'esid' attribute links to an experiment, and experiment group or a MIP. In the latter case, the request applies to all experiments defined by that MIP.</li>
            <li><a href={% url 'vocab:requestLink-list' %}>3.3 Request link: linking a set of variables and a set of experiments [requestLink]</a> The request link records specify some additional information about variable groups, concerning shared output requirements and objectives.</li>
            <li><a href={% url 'vocab:tableSection-list' %}>3.4 CMOR Table Sections [tableSection]</a> Section of a MIP tables</li>
            <li><a href={% url 'vocab:modelConfig-list' %}>3.5 Model configuration options [modelConfig]</a> Configuration options for models</li>
            <li><a href={% url 'vocab:varChoiceLinkC-list' %}>3.6 Links a variable to a choice element [varChoiceLinkC]</a> Link between a variable choice element and variables</li>
            <li><a href={% url 'vocab:objectiveLink-list' %}>3.7 Link between scientific objectives and requests [objectiveLink]</a> Each objective link record joins one objective to one request link. Some requests are linked to multiple objectives and most objectives are linked to multiple requests.</li>
            <li><a href={% url 'vocab:remarks-list' %}>3.8 Remarks about other items [remarks]</a> The remarks section contains additional comments about other records. It can be used to add detail without adding to the complexity of the other sections.</li>
            <li><a href={% url 'vocab:varChoiceLinkR-list' %}>3.9 Links a variable to a choice element [varChoiceLinkR]</a> Link between a variable choice element and variables</li>
            <li><a href={% url 'vocab:varChoice-list' %}>3.10 Indicates variables for which a there is a range of potential CMOR Variables [varChoice]</a> There are several instances where variables defined in the tables are mutually exclusive options of which only one should be requested. The varChoice section is designed to hold this information, but is not yet complete. Examples are between ocean cell volume on a fixed grid for some models and monthly means for others, or between 6 hourly pressure level data on 8 levels vs. 4 levels for different objectives in the HighResMIP request. If the choiceClass in ConfigurationOptionSet the record should be linked to by one or more varChoiceLinkC records. If the choiceClass is RedundancySet the record should be linked to by one or more varChoiceLinkR records.</li>
            <li><a href={% url 'vocab:timeSlice-list' %}>3.11 Time Slices for Output Requests [timeSlice]</a> Time slices are used in some cases where some diagnostics required only for a subset of the years computed.</li>
            <li><a href={% url 'vocab:cellMethods-list' %}>7.1 Cell Methods [cellMethods]</a> Description of cell methods entries</li>
            <li><a href={% url 'vocab:places-list' %}>Places, States or Reservoirs [places]</a> An abstract entity defining an extensive quantity of something, e.g. liquid water, suspended carbon.</li>
            <li><a href={% url 'vocab:qcranges-list' %}>Quality Control Ranges [qcranges]</a> Data ranges for use in quality control</li>
            <li><a href={% url 'vocab:transfers-list' %}>Transfers of Material [transfers]</a> Quantities expressing the transfer of material from one 'place' to another.</li>
            <li><a href={% url 'vocab:units-list' %}>Units [units]</a> The units of the parameters defined in the {var} section. The 'text' attribute carries a plain text representation of the units of measure (e.g. m s-1) or, for dimensionaless variables, a scaling factor (e.g. 1.e-9) to be used for  the variable.</li>

        </ul>
    </div>
</div>
{% endblock %}
