{% extends "mip_dr_app/base.html" %}

{% block title %}{{ object.label }}{% endblock %}{% block search-placeholder %}"Search requestVarGroup"{% endblock %}{% block search-vocab %}"requestVarGroup"{% endblock %}
{% block nav %}
{% load mip_dr_app_vocab_tags %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
            id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="home page" href="/">Home</a>
                </li>
                <li class="navbar-text"><i class="bi bi-arrow-right" aria-hidden="true"></i></li>
                <li class="nav-item">
                    <a class="nav-link" aria-current='requestVarGroup list' href={% url 'vocab:requestVarGroup-list' %}>{{object|verbose_name }}</a>
                </li>
                <li class="navbar-text"><i class="bi bi-arrow-right" aria-hidden="true"></i></li>
                <li class="nav-item">
                    <p class="nav-link active">{{ object.title }}</p>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="row row-height">
<div class="col-2 left">
    <div id="sidebar">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th scope="col" class="sidebar_table">{{ object|verbose_name }}</th>
            </tr>
        </thead>
        <tbody>
{% for model in models %}
            <tr>
                <td class="sidebar_table"><a href={% url 'vocab:requestVarGroup-detail' model.pk %}>{{ model.label }}</a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
</div>
<div class="col-10 right">

<h1>{{ object|verbose_name }}: {{ object.title }} ({{ object.label }})</h1>
<p><b>{% field_verbose_name object "label" %}{% field_help_text object "label" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'label' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.label }}</p>
<p><b>{% field_verbose_name object "title" %}{% field_help_text object "title" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'title' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.title }}</p>
<p><b>{% field_verbose_name object "uid" %}{% field_help_text object "uid" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'uid' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.uid }}</p>
<p><b>{% field_verbose_name object "mip" %}{% field_help_text object "mip" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'mip' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: <a href={% url 'vocab:mip-detail' object.mip.uid %}>{{ object.mip.label }}</a></p>
<p><b>{% field_verbose_name object "ref" %}{% field_help_text object "ref" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'ref' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.ref }}</p>
<p><b>{% field_verbose_name object "refNote" %}{% field_help_text object "refNote" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'refNote' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.refNote }}</p>

{% if requestVar %}
{% if requestVar.count == 1 %}
        <p>
            <b>Request variable (carrying priority and link to group) :</b> <a href={% url 'vocab:requestVar-detail' requestVar.first.pk %}>{{ requestVar.first.title }}</a>
        </p>
{% endif %}
{% if requestVar.count > 1  and requestVar.count < 6 %}
        <p>
            <b>Request variable (carrying priority and link to group) :</b>
        </p>
        <ul>
{% for item in requestVar %}
            <li><a href={% url 'vocab:requestVar-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
        </ul>
{% endif %}
{% if requestVar.count > 5 %}
        <p>
            <b>Request variable (carrying priority and link to group) : </b>
                <a class="list-heading collapsed" data-bs-toggle="collapse" href="#requestVar">
                    <i class="fa fa-fw fa-chevron-right"></i><i class="fa fa-fw fa-chevron-down"></i>
                </a>
        </p>
        <div id="requestVar" class="collapse">
            <ul>
{% for item in requestVar %}
            <li><a href={% url 'vocab:requestVar-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
            </ul>
        </div>
{% endif %}
{% endif %}

{% if requestLink %}
{% if requestLink.count == 1 %}
        <p>
            <b>Request link: linking a set of variables and a set of experiments :</b> <a href={% url 'vocab:requestLink-detail' requestLink.first.pk %}>{{ requestLink.first.title }}</a>
        </p>
{% endif %}
{% if requestLink.count > 1  and requestLink.count < 6 %}
        <p>
            <b>Request link: linking a set of variables and a set of experiments :</b>
        </p>
        <ul>
{% for item in requestLink %}
            <li><a href={% url 'vocab:requestLink-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
        </ul>
{% endif %}
{% if requestLink.count > 5 %}
        <p>
            <b>Request link: linking a set of variables and a set of experiments : </b>
                <a class="list-heading collapsed" data-bs-toggle="collapse" href="#requestLink">
                    <i class="fa fa-fw fa-chevron-right"></i><i class="fa fa-fw fa-chevron-down"></i>
                </a>
        </p>
        <div id="requestLink" class="collapse">
            <ul>
{% for item in requestLink %}
            <li><a href={% url 'vocab:requestLink-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
            </ul>
        </div>
{% endif %}
{% endif %}

</div>
</div>
{% endblock %}
{% block prefetch_url %}"{% url 'search:suggestion' %}requestVarGroup.json"{% endblock %}