{% extends "mip_dr_app/base.html" %}

{% block title %}{{ object.label }}{% endblock %}{% block search-placeholder %}"Search varChoiceLinkR"{% endblock %}{% block search-vocab %}"varChoiceLinkR"{% endblock %}
{% block nav %}
{% load mip_dr_app_vocab_tags %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
            id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="home page" href="/">Home</a>
                </li>
                <li class="navbar-text"><i class="bi bi-arrow-right" aria-hidden="true"></i></li>
                <li class="nav-item">
                    <a class="nav-link" aria-current='varChoiceLinkR list' href={% url 'vocab:varChoiceLinkR-list' %}>{{object|verbose_name }}</a>
                </li>
                <li class="navbar-text"><i class="bi bi-arrow-right" aria-hidden="true"></i></li>
                <li class="nav-item">
                    <p class="nav-link active">{{ object.title }}</p>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="row row-height">
<div class="col-2 left">
    <div id="sidebar">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th scope="col" class="sidebar_table">{{ object|verbose_name }}</th>
            </tr>
        </thead>
        <tbody>
{% for model in models %}
            <tr>
                <td class="sidebar_table"><a href={% url 'vocab:varChoiceLinkR-detail' model.pk %}>{{ model.label }}</a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
</div>
<div class="col-10 right">

<h1>{{ object|verbose_name }}: {{ object.title }} ({{ object.label }})</h1>
<p><b>{% field_verbose_name object "label" %}{% field_help_text object "label" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'label' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.label }}</p>
<p><b>{% field_verbose_name object "title" %}{% field_help_text object "title" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'title' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.title }}</p>
<p><b>{% field_verbose_name object "uid" %}{% field_help_text object "uid" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'uid' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.uid }}</p>
<p><b>{% field_verbose_name object "vid" %}{% field_help_text object "vid" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'vid' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: <a href={% url 'vocab:CMORvar-detail' object.vid.uid %}>{{ object.vid.label }}</a></p>
<p><b>{% field_verbose_name object "cid" %}{% field_help_text object "cid" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'cid' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.cid }}</p>
<p><b>{% field_verbose_name object "rank" %}{% field_help_text object "rank" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'rank' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.rank }}</p>

</div>
</div>
{% endblock %}
{% block prefetch_url %}"{% url 'search:suggestion' %}varChoiceLinkR.json"{% endblock %}