{% extends "mip_dr_app/base.html" %}

{% block title %}{{ object.label }}{% endblock %}{% block search-placeholder %}"Search CMORvar"{% endblock %}{% block search-vocab %}"CMORvar"{% endblock %}
{% block nav %}
{% load mip_dr_app_vocab_tags %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
            id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="data request index" href="/">Data Request</a>
                </li>
                <li class="navbar-text"><i class="bi bi-arrow-right" aria-hidden="true"></i></li>
                <li class="nav-item">
                    <a class="nav-link" aria-current='CMORvar list' href={% url 'vocab:CMORvar-list' %}>{{object|verbose_name }}</a>
                </li>
                <li class="navbar-text"><i class="bi bi-arrow-right" aria-hidden="true"></i></li>
                <li class="nav-item">
                    <p class="nav-link active">{{ object.title }}</p>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="row row-height">
<div class="col-2 left">
    <div id="sidebar">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th scope="col" class="sidebar_table">{{ object|verbose_name }}</th>
            </tr>
        </thead>
        <tbody>
{% for model in models %}
            <tr>
                <td class="sidebar_table"><a href={% url 'vocab:CMORvar-detail' model.pk %}>{{ model.label }}</a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
</div>
<div class="col-10 right">

<h1>{{ object|verbose_name }}: {{ object.title }} ({{ object.label }})</h1>
<p><b>{% field_verbose_name object "label" %}{% field_help_text object "label" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'label' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.label }}</p>
<p><b>{% field_verbose_name object "title" %}{% field_help_text object "title" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'title' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.title }}</p>
<p><b>{% field_verbose_name object "uid" %}{% field_help_text object "uid" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'uid' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.uid }}</p>
<p><b>{% field_verbose_name object "stid" %}{% field_help_text object "stid" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'stid' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: <a href={% url 'vocab:structure-detail' object.stid.uid %}>{{ object.stid.label }}</a></p>
<p><b>{% field_verbose_name object "vid" %}{% field_help_text object "vid" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'vid' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: <a href={% url 'vocab:var-detail' object.vid.uid %}>{{ object.vid.label }}</a></p>
<p><b>{% field_verbose_name object "deflate" %}{% field_help_text object "deflate" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'deflate' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.deflate }}</p>
<p><b>{% field_verbose_name object "deflate_level" %}{% field_help_text object "deflate_level" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'deflate_level' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.deflate_level }}</p>
<p><b>{% field_verbose_name object "shuffle" %}{% field_help_text object "shuffle" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'shuffle' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.shuffle }}</p>
<p><b>{% field_verbose_name object "defaultPriority" %}{% field_help_text object "defaultPriority" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'defaultPriority' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.defaultPriority }}</p>
<p><b>{% field_verbose_name object "type" %}{% field_help_text object "type" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'type' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.type }}</p>
<p><b>{% field_verbose_name object "modeling_realm" %}{% field_help_text object "modeling_realm" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'modeling_realm' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.modeling_realm }}</p>
<p><b>{% field_verbose_name object "positive" %}{% field_help_text object "positive" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'positive' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.positive }}</p>
{% if object.mipTableSection %}
<p><b>{% field_verbose_name object "mipTableSection" %}{% field_help_text object "mipTableSection" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'mipTableSection' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.mipTableSection }}</p>
{% endif %}
<p><b>{% field_verbose_name object "mtid" %}{% field_help_text object "mtid" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'mtid' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: <a href={% url 'vocab:miptable-detail' object.mtid.uid %}>{{ object.mtid.label }}</a></p>
<p><b>{% field_verbose_name object "mipTable" %}{% field_help_text object "mipTable" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'mipTable' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.mipTable }}</p>
<p><b>{% field_verbose_name object "prov" %}{% field_help_text object "prov" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'prov' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.prov }}</p>
{% if object.processing %}
<p><b>{% field_verbose_name object "processing" %}{% field_help_text object "processing" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'processing' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.processing }}</p>
{% endif %}
<p><b>{% field_verbose_name object "provNote" %}{% field_help_text object "provNote" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'provNote' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.provNote }}</p>
<p><b>{% field_verbose_name object "frequency" %}{% field_help_text object "frequency" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'frequency' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.frequency }}</p>
<p><b>{% field_verbose_name object "rowIndex" %}{% field_help_text object "rowIndex" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'rowIndex' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.rowIndex }}</p>
<p><b>{% field_verbose_name object "description" %}{% field_help_text object "description" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'description' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.description }}</p>
{% if object.subGroup %}
<p><b>{% field_verbose_name object "subGroup" %}{% field_help_text object "subGroup" as help_text %}
    {% if help_text %}
        <i class="bi bi-info-circle"
            aria-label="Information about {% field_verbose_name object 'subGroup' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-container="body"
            data-bs-delay='{"show":"200"}'
            title="{{ help_text }}">
        </i>
    {% endif %}</b>: {{ object.subGroup }}</p>
{% endif %}

{% if places %}
{% if places.count == 1 %}
        <p>
            <b>Places, States or Reservoirs :</b> <a href={% url 'vocab:places-detail' places.first.pk %}>{{ places.first.title }}</a>
        </p>
{% endif %}
{% if places.count > 1  and places.count < 6 %}
        <p>
            <b>Places, States or Reservoirs :</b>
        </p>
        <ul>
{% for item in places %}
            <li><a href={% url 'vocab:places-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
        </ul>
{% endif %}
{% if places.count > 5 %}
        <p>
            <b>Places, States or Reservoirs : </b>
                <a class="list-heading collapsed" data-bs-toggle="collapse" href="#places">
                    <i class="fa fa-fw fa-chevron-right"></i><i class="fa fa-fw fa-chevron-down"></i>
                </a>
        </p>
        <div id="places" class="collapse">
            <ul>
{% for item in places %}
            <li><a href={% url 'vocab:places-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
            </ul>
        </div>
{% endif %}
{% endif %}

{% if qcranges %}
{% if qcranges.count == 1 %}
        <p>
            <b>Quality Control Ranges :</b> <a href={% url 'vocab:qcranges-detail' qcranges.first.pk %}>{{ qcranges.first.title }}</a>
        </p>
{% endif %}
{% if qcranges.count > 1  and qcranges.count < 6 %}
        <p>
            <b>Quality Control Ranges :</b>
        </p>
        <ul>
{% for item in qcranges %}
            <li><a href={% url 'vocab:qcranges-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
        </ul>
{% endif %}
{% if qcranges.count > 5 %}
        <p>
            <b>Quality Control Ranges : </b>
                <a class="list-heading collapsed" data-bs-toggle="collapse" href="#qcranges">
                    <i class="fa fa-fw fa-chevron-right"></i><i class="fa fa-fw fa-chevron-down"></i>
                </a>
        </p>
        <div id="qcranges" class="collapse">
            <ul>
{% for item in qcranges %}
            <li><a href={% url 'vocab:qcranges-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
            </ul>
        </div>
{% endif %}
{% endif %}

{% if requestVar %}
{% if requestVar.count == 1 %}
        <p>
            <b>Request variable (carrying priority and link to group) :</b> <a href={% url 'vocab:requestVar-detail' requestVar.first.pk %}>{{ requestVar.first.title }}</a>
        </p>
{% endif %}
{% if requestVar.count > 1  and requestVar.count < 6 %}
        <p>
            <b>Request variable (carrying priority and link to group) :</b>
        </p>
        <ul>
{% for item in requestVar %}
            <li><a href={% url 'vocab:requestVar-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
        </ul>
{% endif %}
{% if requestVar.count > 5 %}
        <p>
            <b>Request variable (carrying priority and link to group) : </b>
                <a class="list-heading collapsed" data-bs-toggle="collapse" href="#requestVar">
                    <i class="fa fa-fw fa-chevron-right"></i><i class="fa fa-fw fa-chevron-down"></i>
                </a>
        </p>
        <div id="requestVar" class="collapse">
            <ul>
{% for item in requestVar %}
            <li><a href={% url 'vocab:requestVar-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
            </ul>
        </div>
{% endif %}
{% endif %}

{% if transfers %}
{% if transfers.count == 1 %}
        <p>
            <b>Transfers of Material :</b> <a href={% url 'vocab:transfers-detail' transfers.first.pk %}>{{ transfers.first.title }}</a>
        </p>
{% endif %}
{% if transfers.count > 1  and transfers.count < 6 %}
        <p>
            <b>Transfers of Material :</b>
        </p>
        <ul>
{% for item in transfers %}
            <li><a href={% url 'vocab:transfers-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
        </ul>
{% endif %}
{% if transfers.count > 5 %}
        <p>
            <b>Transfers of Material : </b>
                <a class="list-heading collapsed" data-bs-toggle="collapse" href="#transfers">
                    <i class="fa fa-fw fa-chevron-right"></i><i class="fa fa-fw fa-chevron-down"></i>
                </a>
        </p>
        <div id="transfers" class="collapse">
            <ul>
{% for item in transfers %}
            <li><a href={% url 'vocab:transfers-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
            </ul>
        </div>
{% endif %}
{% endif %}

{% if varChoiceLinkC %}
{% if varChoiceLinkC.count == 1 %}
        <p>
            <b>Links a variable to a choice element :</b> <a href={% url 'vocab:varChoiceLinkC-detail' varChoiceLinkC.first.pk %}>{{ varChoiceLinkC.first.title }}</a>
        </p>
{% endif %}
{% if varChoiceLinkC.count > 1  and varChoiceLinkC.count < 6 %}
        <p>
            <b>Links a variable to a choice element :</b>
        </p>
        <ul>
{% for item in varChoiceLinkC %}
            <li><a href={% url 'vocab:varChoiceLinkC-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
        </ul>
{% endif %}
{% if varChoiceLinkC.count > 5 %}
        <p>
            <b>Links a variable to a choice element : </b>
                <a class="list-heading collapsed" data-bs-toggle="collapse" href="#varChoiceLinkC">
                    <i class="fa fa-fw fa-chevron-right"></i><i class="fa fa-fw fa-chevron-down"></i>
                </a>
        </p>
        <div id="varChoiceLinkC" class="collapse">
            <ul>
{% for item in varChoiceLinkC %}
            <li><a href={% url 'vocab:varChoiceLinkC-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
            </ul>
        </div>
{% endif %}
{% endif %}

{% if varChoiceLinkR %}
{% if varChoiceLinkR.count == 1 %}
        <p>
            <b>Links a variable to a choice element :</b> <a href={% url 'vocab:varChoiceLinkR-detail' varChoiceLinkR.first.pk %}>{{ varChoiceLinkR.first.title }}</a>
        </p>
{% endif %}
{% if varChoiceLinkR.count > 1  and varChoiceLinkR.count < 6 %}
        <p>
            <b>Links a variable to a choice element :</b>
        </p>
        <ul>
{% for item in varChoiceLinkR %}
            <li><a href={% url 'vocab:varChoiceLinkR-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
        </ul>
{% endif %}
{% if varChoiceLinkR.count > 5 %}
        <p>
            <b>Links a variable to a choice element : </b>
                <a class="list-heading collapsed" data-bs-toggle="collapse" href="#varChoiceLinkR">
                    <i class="fa fa-fw fa-chevron-right"></i><i class="fa fa-fw fa-chevron-down"></i>
                </a>
        </p>
        <div id="varChoiceLinkR" class="collapse">
            <ul>
{% for item in varChoiceLinkR %}
            <li><a href={% url 'vocab:varChoiceLinkR-detail' item.pk %}>{{ item.title }}</a></li>
{% endfor %}
            </ul>
        </div>
{% endif %}
{% endif %}

</div>
</div>
{% endblock %}
{% block prefetch_url %}"{% url 'search:suggestion' %}CMORvar.json"{% endblock %}